* {
    box-sizing: border-box;
    font: inherit;
    scrollbar-width: none;
}

body {
    margin: 0;
    font-family: var(--font-body);
    font-size: var(--font-size-md);
    line-height: var(--line-height-normal);
    background-color: var(--bg-body);
    color: var(--text-primary);
}