.task {
    padding: 16px;
    border-radius: 18px;
    background-color: #26332f;
    border: 1px solid rgba(214, 210, 191, 0.08);
    transition: 0.5s;
}

.task:hover {
    box-shadow: 0 0 3px var(--accent-color);
}

.task-card-info {
    display: flex;
    flex-direction: column;
}

.task-title {
    text-align: left;
    padding: 0;
    font-weight: 600;
    background-color: transparent;
    border: none;
    color: var(--text-color);
}

.task-description,
.task-priority {
    margin-top: 8px;
    font-size: 12px;
}

.task-priority {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2px;
}